body {
  font-family: "Avenir Next";
  font-color:#000000;
  background-color:#ffffff;
  text-align: center;
}

.title{
  height:150px;
}

.bottan{
 height:50px;
 float:left;
}

h1{
  fontsize:80px;
}

li{
  fontsize:40px;
}

a{
 margin-top:5px;
 padding:10px;
 font-size:60px;
 border: 6px solid #000000;
 background-color:#ffffff;
}